{% extends 'layout.html' %}

{% block content %}
    <h2 class="my-4 text-center">Welcome to Pokeapi</h2>
    <div class="row">
        <form class="text-center mb-4 mx-auto" action="/" method="get" style="max-width: 600px;">
            <div class="row align-items-center">
                <div class="col-8">
                    <input class="form-control" type="text" name="pokemon_name" id="pokemon_name">
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        Pokemon
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if error_message %}
        <h3 class="text-center my-5 text-danger">{{error_message}}</h3>
    {% endif %}
    {% if pokemon_detail %}
        {% for pokemon in pokemon_detail %}
            <div class="card mb-5">
                <div class="card-body">
                    <h4 class="mb-0">#{{pokemon.id}}</h4>
                    <div class="text-center">
                        <img src="{{pokemon.image}}" alt="Pokemon {{pokemon.name}}">
                        <h3 class="card-title">{{pokemon.name}}</h3>
                    </div>

                    <div class="d-flex flex-wrap justify-content-evenly">
                        <p class="card-text">
                            <span class="badge bg-secondary">Height: {{pokemon.height}}</span>
                        </p>
                        <p class="card-text">
                            <span class="badge bg-secondary"> Weight: {{pokemon.weight}}</span>
                        </p>

                        <p class="card-text">
                            <span class="badge bg-success">HP: {{pokemon.hp}}</span>
                        </p>
                        <p class="card-text">
                            <span class="badge bg-danger">Attack: {{pokemon.attack}}</span>
                        </p>
                        <p class="card-text">
                            <span class="badge bg-warning">Defense: {{pokemon.defense}}</span>
                        </p>
                        <p class="card-text">
                            <span class="badge bg-primary">Special Attack: {{pokemon.special_attack}}</span>
                        </p>
                        <p class="card-text">
                            <span class="badge bg-success">Special Defense: {{pokemon.special_defense}}</span>
                        </p>
                        <p class="card-text">
                            <span class="badge bg-dark">Speed: {{pokemon.speed}}</span>
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    {% if pokemon.evolves_from %}
                        <h4 class="text-center">Preevolution</h4>
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-4 col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h6>#{{pokemon.evolves_from.id}}</h6>
                                        <div class="text-center">
                                            <img src="{{pokemon.evolves_from.image}}" alt="">
                                            <h5><a href="/?pokemon_name={{pokemon.evolves_from.name}}&page={{page_obj.number}}">{{pokemon.evolves_from.name}}</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if pokemon_evolutions %}
                        <h4 class="text-center mt-4">Evolution{% if pokemon_evolutions|length > 1 %}s{% endif %}</h4>
                        <div class="row justify-content-center">
                            {% for evolution in pokemon_evolutions %}
                                <div class="col-12 col-sm-4 col-md-3 mt-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6>#{{evolution.id}}</h6>
                                            <div class="text-center">
                                                <img src="{{evolution.image}}" alt="">
                                                <h5 class="text-center"><a href="/?pokemon_name={{evolution.name}}&page={{page_obj.number}}">{{evolution.name}}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if page_obj %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pokemon</th>
                    <th scope="col">HP</th>
                    <th scope="col">Attack</th>
                    <th scope="col">Defense</th>
                    <th scope="col">Special Attack</th>
                    <th scope="col">Special Defense</th>
                    <th scope="col">Speed</th>
                </tr>
            </thead>
            <tbody>
                {% for pokemon in page_obj %}
                <tr>
                    <th scope="row">{{pokemon.id}}</th>
                    <td><a href="/?pokemon_name={{pokemon.name}}&page={{page_obj.number}}">{{pokemon.name}}</a></td>
                    <td><span class="badge bg-success">{{pokemon.hp}}</span></td>
                    <td><span class="badge bg-danger">{{pokemon.attack}}</span></td>
                    <td><span class="badge bg-warning">{{pokemon.defense}}</span></td>
                    <td><span class="badge bg-primary">{{pokemon.special_attack}}</span></td>
                    <td><span class="badge bg-success">{{pokemon.special_defense}}</span></td>
                    <td><span class="badge bg-dark">{{pokemon.speed}}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No pokemons are available.</p>
    {% endif %}

    {% include '../pagination.html' %}

{% endblock %}